.about {
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.about__top > .about__topPin {
  background: url(../image/pin-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}
.about__top > .about__topPin:nth-child(3) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about__top h3 {
  font-size: 2rem;
  color: #1d1f39;
}

.about__center {
  display: flex;
  justify-content: space-between;
  height: 50%;
  flex: 1;
}

.about__center > img {
  height: 400px;
  width: 300px;
  object-fit: contain;
  margin: 0px 15px 0px 5px;
}

.about__center > p {
  padding: 6px 15px 0px 0px;
  line-height: 1.6;
  width: 80%;
  overflow: scroll;
}

.about__bottom {
  height: 30%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.about__bottom > p {
  line-height: 1.6;
  text-align: center;
  padding-right: 15px;
  width: 80%;
}
