.cardsContainer {
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cardsContainer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.cardsContainer__top > .cardsContainer__topPin {
  background: url(../image/pin-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}
.cardsContainer__top > .cardsContainer__topPin:nth-child(3) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cardsContainer__top h3 {
  font-size: 2rem;
  color: #1d1f39;
}

.cardsContainer__cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: auto;
  margin-top: 50px;
}
