.footer {
  height: 15vh;
  background-color: #1d1f39;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icons > .MuiIconButton-root {
  color: #f6f6f6;
  font-size: 40px;
}

.footer__icons > .FB {
  font-size: large;
}

.footer__iconsAnchor {
 
}
