@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.pastawork {
  height: 100vh;
}

.pastawork__top {
  height: 15vh;
  background-color: #1d1f39;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.pastawork__topLeft {
  /* background: url(../image/logonobg-01.png);
  background-size: contain;
  background-repeat: no-repeat; */
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

.pastawork__topLeft img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.pastawork__topRight > h3 {
  font-family: "Great Vibes", cursive;
  color: #e4e4e2;
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 500;
  font-style: italic;
}

.pastawork__container {
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pastawork__left {
  position: relative;
  /* background: url(../image/pastachef.jpg); */
  /* background-size: cover; */
  background: linear-gradient(
      rgba(224, 224, 224, 0.3),
      rgba(224, 224, 224, 0.3)
    ),
    url("../image/pastachef.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  min-width: 400px;
  height: 500px;
  /* background-color: rgba(241, 213, 193, 0.5); */
  border-radius: 20px;
  margin: 0px 50px 0px 50px;
}

.pastawork__left > h3 {
  text-align: center;
  margin-top: 10px;
}

.pastawork__left > p {
  position: absolute;
  top: 30%;
  text-align: center;
}

.pastawork__right {
  margin: 0px 50px 0px 50px;
}
