.pastawork {
  height: 100vh;
}

.pastawork__container {
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pastawork__left {
  position: relative;
  flex: 1;
  min-width: 400px;
  height: 500px;
  background-color: rgba(241, 213, 193, 0.5);
  border-radius: 20px;
  margin: 0px 50px 0px 50px;
}

.pastawork__left > h3 {
  text-align: center;
  margin-top: 10px;
}

.pastawork__left > p {
  position: absolute;
  top: 30%;
  text-align: center;
}
